
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    min-height:40rem;
}

.container_sub{
    font-size: large;
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;

}

.button{
    
    font-size: xx-large;
  
    border-color: transparent;
    background-color:transparent;
    border :0;
    outline: none;
    font-family: 'Quicksand', cursive;  
    font-weight: 100;
    color:  rgb(255, 255, 255);
     border-radius: 9999px;
    padding: 1rem;
    width: 16rem;
    transition: 0.4s;
    
}

.button:hover{
    font-size: xx-large;
   
    border-color: transparent;
    background-image: linear-gradient(to right,  rgb(115, 89, 171),  rgb(130, 108, 178),  rgb(115, 89, 171))
    ;
    border :0;
    outline: none;
    font-family: 'Quicksand', cursive;  
    font-weight: 100;
    color:  rgb(255, 255, 255);
    border-radius:9999px;
    
    transition: 0.4s;
    padding: 1rem;
    width: 16rem;
     cursor: pointer;
}

.img{
 
 display: flex;
 width: 40%;

}



.body{
    color:  rgb(255, 253, 253);
    font-family: 'Quicksand', cursive;  
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    justify-content:center;
    align-items:center;
    width: 50%;
}
.body h1{
  font-size: 2.5rem;
  font-family: 'Quicksand', cursive;  
  font-weight: 100;
    
}
.body h3{
   
}

.carrusel {
   
   
    overflow: hidden;

}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite;
    animation-timing-function: ease;
    align-items: center;


}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel img {
   width: 80%;

}
@keyframes cambio {
    10% {
        margin-left: 0;
    }


    15.5% {
        margin-left: -100%;
    }
    25% {
        margin-left: -100%;
    }



    33% {
        margin-left: -200%;
    }

    50% {
        margin-left: -200%;
    }

    60% {
        margin-left: -100%;
    }


    65.5% {
        margin-left: -100%;
    }
    75% {
        margin-left: -100%;
    }



    83% {
        margin-left: -0%;
    }

    100% {
        margin-left: -0%;
    }
    
    


}
