.header{
        display: grid;
        background-color: rgb(255, 255, 255);
        align-items: center;
        grid-template-columns: 50% 50%;
        justify-content: center;
        border-bottom: solid 1px;
        border-color: #444;
        padding: 0.5rem;
        background-image: linear-gradient(to right,  rgb(195, 186, 231),  rgb(229, 226, 233),  rgb(201, 190, 235));
}
.buttonsHeader{
    font-size: large;
    
    border-color: transparent;
    background-color:transparent;
    border :0;
    outline: none;

    font-family: 'Quicksand', cursive;  
    font-weight: 600;
    color:  rgb(109, 58, 217);
     border-radius: 9999px;
    padding: 0.5rem;
    margin-left: 1rem;
  
    
   ;
}
.buttonsHeader:hover{
    font-size: large;
   
    border-color: transparent;
    background-color:  rgb(115, 89, 171);
   outline: none;
    border: 0;
    font-family: 'Quicksand', cursive;  
    font-weight: 600;
    color:  rgb(255, 255, 255);
    border-radius:9999px;
    padding:0.5rem;
    transition: .4s;
    margin-left: 1rem;
    cursor: pointer;
    background-image: linear-gradient(to right,  rgb(115, 89, 171),  rgb(130, 108, 178),  rgb(115, 89, 171))
}

.body{
    background-color:rgb(255, 255, 255);
    padding-bottom: 1rem;

}

.container{
    max-width: 90%;
    margin:0 auto;
    background-color:transparent;
}

.secondButtonsHeader{
    font-size: large;
    
    border-color: transparent;
    background-color:transparent;
    border :0;
    outline: none;

    font-family: 'Quicksand', cursive;  
    font-weight: 600;
    color:  rgb(109, 58, 217);
     border-radius: 9999px;
    padding: 0.5rem;
    
    max-width: 10rem;
    margin: 0 auto;

}

.secondButtonsHeader:hover{
    font-size: large;
   
    border-color: transparent;
    background-color:  rgb(115, 89, 171);
   outline: none;
    border: 0;
    font-family: 'Quicksand', cursive;  
    font-weight: 600;
    color:  rgb(255, 255, 255);
    border-radius:9999px;
    padding:0.5rem;
    transition: .4s;
    margin-left: 1rem;
    max-width: 10rem;
    margin: 0 auto;
    cursor: pointer;
    background-image: linear-gradient(to right,  rgb(115, 89, 171),  rgb(130, 108, 178),  rgb(115, 89, 171))
}


.card_box{
    background-color:rgb(121, 110, 171);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin:2rem;
    background-image: -webkit-linear-gradient(to right,  rgb(111, 88, 188), rgb(173, 137, 221), rgb(107, 88, 170));
    background-image: linear-gradient(to right,  rgb(67, 53, 113),  rgb(173, 137, 221),  rgb(79, 65, 124));
   
}

.card{
     display: grid;
    grid-template-columns: 10% 70% 20%;
    max-height: 10rem;
    margin: 1rem;
    background-color:rgb(173, 137, 221);;
    background-image: -webkit-linear-gradient(to right,  rgb(111, 88, 188), rgb(173, 137, 221), rgb(107, 88, 170));
    background-image: linear-gradient(to right,  rgb(98, 81, 156),  rgb(173, 137, 221),  rgb(79, 65, 124));
    border-radius: 1rem;
    color: white;
    border: solid 1px;
    border-color: black;
    box-shadow: 5px 5px 0px rgb(42, 14, 81);

}
.card img{
    padding-left: 2.5rem;
    padding-top: 1rem;
    max-height: 10rem;
    max-width: 8rem;

}

.card_data{
  margin: 1rem;  
  
  margin-left: 5rem;
}
.card_data h3{
    font-size: x-large;
   
}

.buttons_card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    
}

.button_restore{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(17, 126, 42);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: large;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(17, 126, 42),rgb(17, 126, 42), rgb(17, 126, 42));
    background-image: linear-gradient(to right,  rgb(11, 94, 31),rgb(17, 126, 42), rgb(11, 90, 30));
}
.button_restore:hover{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(13, 199, 56);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: large;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(17, 126, 42),rgb(17, 126, 42), rgb(17, 126, 42));
    background-image: linear-gradient(to right,  rgb(11, 94, 31),rgb(38, 182, 71), rgb(11, 90, 30));
}



.button_restore_pressed{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(17, 126, 42);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: large;
    position: relative;
    left: 4px;
    top: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(17, 126, 42),rgb(17, 126, 42), rgb(17, 126, 42));
    background-image: linear-gradient(to right,  rgb(11, 94, 31),rgb(17, 126, 42), rgb(11, 90, 30));
}
.button_restore_pressed:hover{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(13, 199, 56);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: large;
    position: relative;
    left: 4px;
    top: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(17, 126, 42),rgb(17, 126, 42), rgb(17, 126, 42));
    background-image: linear-gradient(to right,  rgb(11, 94, 31),rgb(38, 182, 71), rgb(11, 90, 30));
}










.button_delete{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(180, 50, 50);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: x-large;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(141, 34, 34),rgb(180, 50, 50),rgb(138, 35, 35));
    background-image: linear-gradient(to right,  rgb(140, 30, 30),rgb(180, 50, 50),rgb(140, 32, 32));


}

.button_delete:hover{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 0, 0);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: x-large;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(141, 34, 34),rgb(180, 50, 50),rgb(138, 35, 35));
    background-image: linear-gradient(to right,  rgb(140, 30, 30),rgb(222, 28, 28),rgb(140, 32, 32));

}

.button_delete_pressed{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(180, 50, 50);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: x-large;
    position: relative;
    left: 4px;
    top: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(141, 34, 34),rgb(180, 50, 50),rgb(138, 35, 35));
    background-image: linear-gradient(to right,  rgb(140, 30, 30),rgb(180, 50, 50),rgb(140, 32, 32));

   
}
.button_delete_pressed:hover{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 0, 0);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    font-size: x-large;
    position: relative;
    left: 4px;
    top: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(to right, rgb(141, 34, 34),rgb(180, 50, 50),rgb(138, 35, 35));
    background-image: linear-gradient(to right,  rgb(140, 30, 30),rgb(222, 28, 28),rgb(140, 32, 32));

}

.empty{
    background-color:transparent;
    font-size:2rem ;
    color: white;
}