body {
  margin: 0;
  background: rgb(90, 74, 142);;
  font-family: 'Quicksand', sans-serif;
  background-image: -webkit-linear-gradient(to right,  rgb(33, 24, 63), rgb(63, 51, 103), rgb(53, 43, 87));
  background-image: linear-gradient(to right,  rgb(33, 24, 63), rgb(81, 64, 134),  rgb(53, 43, 87));

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
